// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.clock-container {
  padding: 1rem;

  label {
    color: white; // Explicitly set to white for better contrast on dark backgrounds
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  .day-of-week {
    font-family: "Anurati";
    font-size: 110px;
    font-weight: normal;
    letter-spacing: 5px;
  }

  .full-date {
    font-family: "Orbitron";
    font-size: 22px;
    font-weight: 500; // Medium weight
    letter-spacing: 1px;
    margin-top: -20px; // Pull it up closer to the day
  }

  .time {
    font-family: "Orbitron";
    font-size: 26px;
    font-weight: 400; // Regular weight
    margin-top: 5px; // Add a little space below the date
  }
}