* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

window#waybar {
    background: #0F0F17;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* --- Module Spacing --- */
#bluetooth, #custom-gamemode, #idle_inhibitor, #custom-keybindhint, #custom-hyprsunset, #power-profiles-daemon, #mpris, #custom-spotify, #custon-updates, #cpu, #memory, #battery, #network, #custom-bluetooth, #tray, #custom-power {
    padding: 0 5px;
    margin: 0 2px;
}

#custom-arch-icon {
    padding: 0 5px;
    margin: 0 2px;
}

#clock {
    padding: 0 40px;
    margin: 0 10px;
}

tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

/* --- Module Specific Colors & Styles --- */
#workspaces {
    background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}


#workspaces button {
    background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    /*   animation: ws_normal 20s ease-in-out 1; */
}



#workspaces button.active {
    /* background-image: url("/home/anik/Documents/bar1.png");*/
    color: #A1BDCE;
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
    /*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
}

#workspaces button:hover {
    background: none;
    color: #72D792;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}
#custom-spotify, #mpris { color: #f5c2e7; }
#backlight { color: #89dceb; }
#pulseaudio { color: #cba6f7; }
#pulseaudio.muted { color: #cba6f7; }
#cpu { color: #f38ba8; }
#memory { color: #fab387; }
#battery { color: #a6e3a1; }
#battery.charging, #battery.plugged { color: #94e2d5; }
#battery.critical:not(.charging) { color: #f38ba8; animation: blink 1s ease-in-out infinite; }
#custom-power { color: #f38ba8; padding-right: 10px; }
@keyframes blink { to { color: #1e1e2e; background-color: #f38ba8; } }

#idle_inhibitor.activated { color: #a6e3a1; }
#idle_inhibitor.deactivated { color: #f38ba8; }

/* This container for the revealed slider is now transparent */
.slider-child {
    background-color: transparent;
}

#pulseaudio-slider slider {
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px; 
}

#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: #343434;
}

#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #cba6f7;
}
